<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/login.css}">
    <title>Login</title>
</head>
<body>
<form action="#" th:action="@{/login}" method="POST">
    <h1>Login</h1>
    <div th:if="${param.error}" id="invalidDataDiv" class="alert alert-danger">
        Invalid username or password
    </div>
    <div th:if="${param.logout}" id="loggedOutDiv" class="alert alert-dark">
        You have been logged out
    </div>
    <div>Username</div>
    <input type="input" name="username" id="inputUsername" placeholder="Enter Username" maxlength="20" required>

    <div>Password</div>
    <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Enter Password" maxlength="20" required>

    <div>
        <input type="submit" value="Login">
    </div>

    <!-- <label><a th:href="@{/signup}">Click here to sign up</a></label> -->
     <a class="click" href="Sign Up.html"><p>Click here to sign up</p></a>
</form>
</body>
</html>