<!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" href="css/Sign Up.css">
        <title>Sign Up</title>
    </head>
<body>
    

    <form action="#" th:action="@{/signup}" method="POST" th:object="${user}" style="height: 400px;">
        <a class="click" href="login1.html"><p>Back to Login</p></a>
        <h1>Sign Up</h1>

        <div id="signupSuccess" class="alert alert-dark" th:if="${signupSuccess}">
            You successfully signed up! Please continue to the <a th:href="@{/login}">login</a> page.
        </div>
        <div id="sign-up-error" class="alert alert-danger" th:if="${errorInSignup}">
            <span th:text="${errorMsg}">Example Signup Error Message</span>
        </div>

    <div class="row">
        <div>First Name</div>
        <input th:field="${user.firstName}" type="text" name="firstName" class="form-control" id="inputFirstName" placeholder="Enter First Name" maxlength="20" required>

        <div>Username</div>
        <input th:field="*{username}" type="text" name="username" class="form-control" id="inputUsername" placeholder="Enter Username" maxlength="20" required>
    </div>
    <div class="row">
        <div>Last Name</div>
        <input th:field="*{lastName}" type="text" name="lastName" class="form-control" id="inputLastName" placeholder="Enter Last Name" maxlength="20" required>

        <div>Password</div>
        <input th:field="*{password}" type="text" name="password" class="form-control" id="inputPassword" placeholder="Enter Password" maxlength="20" required>
    </div>

        <div>
        <input type="submit" value="Sign Up">
        </div>

      </form>
</body>
</html>